html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
}
html * {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  font-family: sans-serif;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th {
  text-align: left;
}

fieldset, img {
  border: 0;
}

em, i, strong {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul, ol {
  list-style: none;
}

del {
  text-decoration: line-through;
}

input, button, textarea, select {
  font-size: 100%;
  border: none;
  background: none;
}

a, button, input, select, textarea, a:focus, button:focus, input:focus, select:focus, textarea:focus {
  outline: 0 none;
}

a {
  text-decoration: none;
  color: #666;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

::-webkit-input-placeholder {
  color: #999;
}

::-moz-placeholder {
  color: #999;
}

:-moz-placeholder {
  color: #999;
}

@media only screen and (max-width: 359px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (min-width: 360px) and (max-width: 374px) {
  html {
    font-size: 13.5px;
  }
}
@media only screen and (min-width: 375px) and (max-width: 399px) {
  html {
    font-size: 14.0625px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 479px) {
  html {
    font-size: 15px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 539px) {
  html {
    font-size: 18px;
  }
}
@media only screen and (min-width: 540px) and (max-width: 639px) {
  html {
    font-size: 20.25px;
  }
}
@media only screen and (min-width: 640px) and (max-width: 719px) {
  html {
    font-size: 24px;
  }
}
@media only screen and (min-width: 720px) {
  html {
    font-size: 27px;
  }
}
.AmbassadorContent {
  width: 100%;
  overflow: hidden;
  padding-bottom: 3.55556rem;
}
.AmbassadorContent h2 {
  text-align: center;
  height: 3.65511rem;
  line-height: 3.65511rem;
  font-size: 1.0304rem;
  color: #6A6A6A;
  letter-spacing: 0.0384rem;
}
.AmbassadorContent .list {
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  text-align: center;
  padding-top: 1.06667rem;
  padding-bottom: 1.77778rem;
}
.AmbassadorContent .list ul {
  white-space: nowrap;
}
.AmbassadorContent .list ul li {
  display: inline-table;
  text-align: center;
}
.AmbassadorContent .list ul li .images {
  width: 4.26667rem;
  height: 4.26667rem;
  border-radius: 3.55556rem;
  overflow: hidden;
  font-size: 0;
  box-shadow: 0 1px 5px #000;
}
.AmbassadorContent .list ul li .images img {
  width: 100%;
}
.AmbassadorContent .list ul li h4 {
  margin-top: 0.71111rem;
  font-size: 1.13778rem;
  color: #8f8f8f;
}
.AmbassadorContent .list ul li p {
  font-size: 0.85333rem;
  color: #8f8f8f;
}
.AmbassadorContent .list ul li.on h4, .AmbassadorContent .list ul li.on p {
  color: #000;
}
.AmbassadorContent .list ul.ul_align {
  display: inline-table;
  margin: 0 auto;
}
.AmbassadorContent .list ul.ul_align li {
  padding: 0 0.88889rem;
}
.AmbassadorContent .list ul.ul_align2 {
  display: inline-table;
  margin: 0 auto;
}
.AmbassadorContent .list ul.ul_align2 li {
  padding: 0 2.13333rem;
}
.AmbassadorContent .synopsis {
  width: 24.39111rem;
  margin: 0 auto;
  box-shadow: 0 1px 5px #6A6A6A;
  border-radius: 1.42222rem;
  overflow: hidden;
}
.AmbassadorContent .synopsis .images {
  width: 100%;
  font-size: 0;
}
.AmbassadorContent .synopsis .images img {
  width: 100%;
}
.AmbassadorContent .synopsis h4 {
  padding: 0 1.70667rem;
  padding-top: 1.13778rem;
  font-size: 1.70667rem;
  font-weight: bold;
}
.AmbassadorContent .synopsis p {
  padding: 0 1.70667rem;
  padding-bottom: 1.13778rem;
  font-size: 1.13778rem;
  height: 1.77778rem;
}
.AmbassadorContent .synopsis p span {
  float: right;
  font-size: 0.85333rem;
  border: 1px solid #000;
  border-radius: 1.77778rem;
  height: 2.13333rem;
  line-height: 2.13333rem;
  padding: 0 0.71111rem;
}

/*# sourceMappingURL=style.css.map */
