@charset "utf-8";
$reset:true; // 是否开启样式重置,默认false
$rem-base: 750px;
$Response:true;
$styleColor: #da363c;

@import "mobile-mixin";

.headers{
  height: rem-calc(120);
  line-height: rem-calc(120);
  padding: 0 rem-calc(48);
  .store-name{
    font-size: rem-calc(28);
    font-weight: bold;
    span{
      float: right;
      font-weight: normal;
      font-size: rem-calc(28);
    }
    .nav{
      float: right;
      i{
        margin-left: rem-calc(48);
        font-size: rem-calc(48);
      }
    }
  }
}
