html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
}
html * {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  font-family: sans-serif;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th {
  text-align: left;
}

fieldset, img {
  border: 0;
}

em, i, strong {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul, ol {
  list-style: none;
}

del {
  text-decoration: line-through;
}

input, button, textarea, select {
  font-size: 100%;
  border: none;
  background: none;
}

a, button, input, select, textarea, a:focus, button:focus, input:focus, select:focus, textarea:focus {
  outline: 0 none;
}

a {
  text-decoration: none;
  color: #666;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

::-webkit-input-placeholder {
  color: #999;
}

::-moz-placeholder {
  color: #999;
}

:-moz-placeholder {
  color: #999;
}

@media only screen and (max-width: 359px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (min-width: 360px) and (max-width: 374px) {
  html {
    font-size: 13.5px;
  }
}
@media only screen and (min-width: 375px) and (max-width: 399px) {
  html {
    font-size: 14.0625px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 479px) {
  html {
    font-size: 15px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 539px) {
  html {
    font-size: 18px;
  }
}
@media only screen and (min-width: 540px) and (max-width: 639px) {
  html {
    font-size: 20.25px;
  }
}
@media only screen and (min-width: 640px) and (max-width: 719px) {
  html {
    font-size: 24px;
  }
}
@media only screen and (min-width: 720px) {
  html {
    font-size: 27px;
  }
}
.ActivitiesDetails {
  width: 100%;
  overflow: hidden;
  padding-bottom: 3.55556rem;
}
.ActivitiesDetails h2 {
  text-align: center;
  height: 3.65511rem;
  line-height: 3.65511rem;
  font-size: 1.0304rem;
  color: #6A6A6A;
  letter-spacing: 0.0384rem;
}
.ActivitiesDetails .content {
  width: 23.25333rem;
  margin: 0 auto;
}
.ActivitiesDetails .content .big_img {
  width: 23.25333rem;
  font-size: 0;
  border-radius: 0.71111rem;
}
.ActivitiesDetails .content .big_img img {
  width: 100%;
}
.ActivitiesDetails .content p {
  font-size: 1.13778rem;
  color: #8f8f8f;
  padding: 0.99556rem 0;
}
.ActivitiesDetails .content p.time {
  font-size: 0.85333rem;
}
.ActivitiesDetails .content h1 {
  font-size: 1.35111rem;
  color: #000;
}
.ActivitiesDetails .const {
  width: 23.25333rem;
  margin: 0 auto;
}
.ActivitiesDetails .const h3 {
  padding: 0.99556rem 0;
  font-size: 1.35111rem;
  color: #000;
}
.ActivitiesDetails .const p {
  font-size: 0.85333rem;
  color: #3E3D3D;
}
.ActivitiesDetails .const .big_img {
  margin: 1.70667rem 0;
  width: 23.25333rem;
  font-size: 0;
  border-radius: 0.71111rem;
}
.ActivitiesDetails .const .big_img img {
  width: 100%;
}
.ActivitiesDetails .const .tips {
  padding: 3.41333rem 0;
  text-align: center;
  font-size: 0.85333rem;
  line-height: 2.84444rem;
}
.ActivitiesDetails .const .txt {
  padding: 0.71111rem 0;
  border-bottom: 1px solid #f5f5f5;
  position: relative;
}
.ActivitiesDetails .const .txt p {
  font-size: 0.99556rem;
  line-height: 1.77778rem;
}
.ActivitiesDetails .const .txt p:nth-child(1) {
  color: #bbb;
}
.ActivitiesDetails .const .txt span {
  position: absolute;
  right: 1.70667rem;
  top: 0.71111rem;
  height: 3.55556rem;
  line-height: 3.55556rem;
  font-size: 1.70667rem;
}
.ActivitiesDetails .order {
  padding-top: 1.77778rem;
  height: 4.62222rem;
  background: #fff;
  z-index: 10;
}
.ActivitiesDetails .order .btn {
  width: 23.25333rem;
  height: 3.55556rem;
  line-height: 3.55556rem;
  border-radius: 3.55556rem;
  margin: 0 auto;
  text-align: center;
  font-size: 1.06667rem;
  color: #fff;
  background: #000;
}

/*# sourceMappingURL=style.css.map */
