html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
}
html * {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  font-family: sans-serif;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th {
  text-align: left;
}

fieldset, img {
  border: 0;
}

em, i, strong {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul, ol {
  list-style: none;
}

del {
  text-decoration: line-through;
}

input, button, textarea, select {
  font-size: 100%;
  border: none;
  background: none;
}

a, button, input, select, textarea, a:focus, button:focus, input:focus, select:focus, textarea:focus {
  outline: 0 none;
}

a {
  text-decoration: none;
  color: #666;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

::-webkit-input-placeholder {
  color: #999;
}

::-moz-placeholder {
  color: #999;
}

:-moz-placeholder {
  color: #999;
}

@media only screen and (max-width: 359px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (min-width: 360px) and (max-width: 374px) {
  html {
    font-size: 13.5px;
  }
}
@media only screen and (min-width: 375px) and (max-width: 399px) {
  html {
    font-size: 14.0625px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 479px) {
  html {
    font-size: 15px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 539px) {
  html {
    font-size: 18px;
  }
}
@media only screen and (min-width: 540px) and (max-width: 639px) {
  html {
    font-size: 20.25px;
  }
}
@media only screen and (min-width: 640px) and (max-width: 719px) {
  html {
    font-size: 24px;
  }
}
@media only screen and (min-width: 720px) {
  html {
    font-size: 27px;
  }
}
#RotationMinImg {
  width: 100%;
  overflow: hidden;
}
#RotationMinImg .carousel {
  width: 100%;
  overflow-y: hidden;
}
#RotationMinImg .carousel .carousel-box {
  display: inline-table;
  white-space: nowrap;
}
#RotationMinImg .carousel .carousel-box:nth-child(1) {
  margin-left: 1.63556rem;
}
#RotationMinImg .carousel .carousel-box:last-child {
  margin-right: 1.63556rem !important;
}
#RotationMinImg .carousel .carousel-box .carousel-item {
  display: inline-block;
  width: 7.21422rem;
  margin-right: 0.69476rem;
  border-radius: 0.71111rem;
  font-size: 0;
}
#RotationMinImg .carousel .carousel-box .carousel-item img {
  width: 100%;
  margin: 0;
}
#RotationMinImg .carousel .carousel-box .carousel-item h4 {
  height: 1.70667rem;
  line-height: 0.85333rem;
  font-size: 0.64427rem;
  padding: 0 0.57956rem;
  margin-top: 0.64427rem;
}
#RotationMinImg .carousel .carousel-box .carousel-item p {
  font-size: 0.64427rem;
  color: #9A9A9A;
  padding: 0 0.57956rem;
}
#RotationMinImg .index-container {
  margin: 0 1.63556rem;
  padding: 1.7536rem 0;
  position: relative;
}
#RotationMinImg .index-container ul {
  width: 21.04889rem;
  height: 0.21333rem;
  background: #D8D8D8;
  overflow: hidden;
}
#RotationMinImg .index-container ul li {
  float: left;
  width: 33.33%;
  height: 0.21333rem;
}
#RotationMinImg .index-container ul li.selected {
  background: #9A9A9A;
}
#RotationMinImg .index-container span {
  font-size: 0.57956rem;
  height: 3.72053rem;
  line-height: 3.72053rem;
  position: absolute;
  top: 0;
  right: 0;
}

/*# sourceMappingURL=Index.css.map */
