@charset "utf-8";
$reset:true; // 是否开启样式重置,默认false
$rem-base: 750px;
$Response:true;
$styleColor: #da363c;

@import "mobile-mixin";

.CommodityIndex{
    width: 100%;
    overflow: hidden;
    h2{
        text-align: center;
        height: rem-calc(102.8);
        line-height: rem-calc(102.8);
        font-size: rem-calc(28);
        color: #6A6A6A;
        letter-spacing: rem-calc(1.08);
    }
    h1{
        padding: 0 rem-calc(48);
        height: rem-calc(150);
        line-height: rem-calc(150);
        letter-spacing: rem-calc(1.08);
        font-size: rem-calc(42);
        color: #000;
        font-weight: bold;
        span{
            float: right;
            font-weight: normal;
            font-size: rem-calc(28);
            color: #8c8c8c;
            letter-spacing: rem-calc(0.66);
        }
    }
}