html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
}
html * {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  font-family: sans-serif;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th {
  text-align: left;
}

fieldset, img {
  border: 0;
}

em, i, strong {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul, ol {
  list-style: none;
}

del {
  text-decoration: line-through;
}

input, button, textarea, select {
  font-size: 100%;
  border: none;
  background: none;
}

a, button, input, select, textarea, a:focus, button:focus, input:focus, select:focus, textarea:focus {
  outline: 0 none;
}

a {
  text-decoration: none;
  color: #666;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

::-webkit-input-placeholder {
  color: #999;
}

::-moz-placeholder {
  color: #999;
}

:-moz-placeholder {
  color: #999;
}

@media only screen and (max-width: 359px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (min-width: 360px) and (max-width: 374px) {
  html {
    font-size: 13.5px;
  }
}
@media only screen and (min-width: 375px) and (max-width: 399px) {
  html {
    font-size: 14.0625px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 479px) {
  html {
    font-size: 15px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 539px) {
  html {
    font-size: 18px;
  }
}
@media only screen and (min-width: 540px) and (max-width: 639px) {
  html {
    font-size: 20.25px;
  }
}
@media only screen and (min-width: 640px) and (max-width: 719px) {
  html {
    font-size: 24px;
  }
}
@media only screen and (min-width: 720px) {
  html {
    font-size: 27px;
  }
}
.Limit_appointment {
  width: 100%;
  overflow: hidden;
  padding-bottom: 3.55556rem;
}
.Limit_appointment h2 {
  text-align: center;
  height: 3.65511rem;
  line-height: 3.65511rem;
  font-size: 1.0304rem;
  color: #6A6A6A;
  letter-spacing: 0.0384rem;
}
.Limit_appointment .InforDetails {
  width: 24.39111rem;
  margin: 0 auto;
  padding: 1.49333rem 0;
}
.Limit_appointment .InforTitle {
  font-size: 1.73938rem;
  font-weight: bold;
  letter-spacing: 0.06542rem;
  line-height: 2.41778rem;
  margin-bottom: 0.47644rem;
}
.Limit_appointment .sellingPrice {
  font-size: 0.9664rem;
  letter-spacing: 0.03627rem;
  font-weight: bold;
  height: 3.7888rem;
  line-height: 3.7888rem;
}
.Limit_appointment .selectSize {
  padding: 1.35893rem 0;
}
.Limit_appointment .selectSize p {
  line-height: 1.20889rem;
  font-size: 0.90169rem;
  color: rgba(106, 106, 106, 0.6);
}
.Limit_appointment .selectSize .Size {
  width: 24.74667rem;
  display: inline-table;
}
.Limit_appointment .selectSize .Size li {
  width: 3.62667rem;
  height: 2.51236rem;
  font-size: 0.90169rem;
  line-height: 2.51236rem;
  text-align: center;
  float: left;
  border: 0.03556rem solid rgba(151, 151, 151, 0.5);
  color: #6A6A6A;
  border-radius: 0.17778rem;
  margin-right: 0.35556rem;
  margin-top: 0.35556rem;
}
.Limit_appointment .selectSize .Size li.active {
  color: #fff;
  background: #000;
}
.Limit_appointment .InfoEnter .items {
  width: 100%;
  display: inline-table;
  padding: 0.35413rem 0;
}
.Limit_appointment .InfoEnter .items label {
  width: 5.68889rem;
  height: 2.31893rem;
  line-height: 2.31893rem;
  float: left;
  color: rgba(106, 106, 106, 0.6);
  font-size: 1.13778rem;
}
.Limit_appointment .InfoEnter .items input {
  width: 15.85778rem;
  height: 2.31893rem;
  line-height: 2.31893rem;
  border: 0.03556rem solid rgba(151, 151, 151, 0.5);
  border-radius: 0.35556rem;
  text-align: center;
  float: right;
  font-size: 1.13778rem;
}
.Limit_appointment .InfoEnter .items input#code {
  width: 9.79058rem;
  margin-right: 0.38613rem;
}
.Limit_appointment .InfoEnter .items .getCodeBtn {
  width: 5.54667rem;
  height: 2.31893rem;
  line-height: 2.31893rem;
  border-radius: 2.31893rem;
  background: #000;
  text-align: center;
  font-size: 0.57956rem;
  color: #fff;
  float: right;
}
.Limit_appointment .warning {
  padding: 1.06667rem 0;
  line-height: 1.42222rem;
  color: #6A6A6A;
  font-size: 0.57956rem;
}
.Limit_appointment .exemption {
  width: 24.39111rem;
  display: inline-table;
}
.Limit_appointment .exemption .exemption-left {
  width: 1.42222rem;
  float: left;
}
.Limit_appointment .exemption .exemption-left i {
  display: none;
  font-size: 1.13778rem;
}
.Limit_appointment .exemption .exemption-left i.icon-BAI-danxuankuang {
  display: inline-block;
}
.Limit_appointment .exemption .exemption-right {
  float: right;
  width: 22.25778rem;
  font-size: 0.85333rem;
  color: rgba(106, 106, 106, 0.6);
}
.Limit_appointment .exemption .exemption-right span {
  text-decoration: underline;
}
.Limit_appointment .Infobtn {
  height: 6.04444rem;
  background: #fff;
  z-index: 10;
}
.Limit_appointment .Infobtn .btn {
  width: 24.39111rem;
  height: 4.33778rem;
  line-height: 4.33778rem;
  border-radius: 4.33778rem;
  margin: 0 auto;
  text-align: center;
  font-size: 1.06667rem;
  color: #fff;
  background: #000;
}

/*# sourceMappingURL=style.css.map */
