@charset "utf-8";
$reset:true; // 是否开启样式重置,默认false
$rem-base: 750px;
$Response:true;
$styleColor: #da363c;

@import "mobile-mixin";

.appointment_details{
    width: rem-calc(750);
    margin: 0 auto;
    overflow: hidden;
    h3{
        padding: 0 rem-calc(48);
        font-size: rem-calc(38);
        height: rem-calc(90);
        line-height: rem-calc(90);
        span{
            float: right;
            font-size: rem-calc(28);
            color: #3E3D3D;
            font-weight: normal;
        }
    }
    .appointment_content {
        padding: rem-calc(48) rem-calc(48);
        width: rem-calc(654);
        display: inline-table;
        border-top: 1px solid #f5f5f5;
        border-bottom: 1px solid #f5f5f5;
        .appointment_img {
            float: left;
            font-size: 0;
            overflow: hidden;
            border-radius: rem-calc(20);
            img {
                width: rem-calc(192);
                height: rem-calc(192);
            }
        }
        .appointment_info{
            float: right;
            width: rem-calc(414);
            font-size: 0;
            p{
                display: inline-table;
                line-height: rem-calc(40);
                font-size: rem-calc(32);
                &.appointment_spit{
                    padding-top: rem-calc(10);
                    line-height: rem-calc(50);
                    span{
                        font-size: rem-calc(28);
                        color: #3E3D3D;
                        &.ccc{
                            color: #ccc;
                        }
                    }
                }
            }
        }
    }
    .txt{
        padding: rem-calc(20) rem-calc(48);
        border-bottom: 1px solid #f5f5f5;
        position: relative;
        p{
            &:nth-child(1){
                color: #bbb;
            }
            font-size: rem-calc(28);
            line-height: rem-calc(50);
        }
        span{
            position: absolute;
            right: rem-calc(48);
            top: rem-calc(20);
            height: rem-calc(100);
            line-height: rem-calc(100);
            font-size: rem-calc(48);
        }
    }
    .order {
        display: inline-table;
        width: 100%;
        padding-top: rem-calc(100);
        height: rem-calc(130);
        background: #fff;
        z-index: 10;

        .btn,.btn2 {
            width: rem-calc(654);
            height: rem-calc(80);
            line-height: rem-calc(80);
            border-radius: rem-calc(10);
            margin: 0 auto;
            text-align: center;
            font-size: rem-calc(30);
            color: #fff;
            background: #000;
            border: 1px solid #000;
        }
        .btn2{
            margin-top: rem-calc(32);
            background: #fff;
            color: #000;
        }
    }
}