@keyframes zy {
  10%{transform: rotate(15deg);}
  20%{transform: rotate(-10deg);}
  30%{transform: rotate(5deg);}
  40%{transform: rotate(-5deg);}
  50%,100%{transform: rotate(0deg);}
}

.AmbassadorContent {
  width: 100%;
  overflow: hidden;
  padding-bottom: rem-calc(100);

  .list {
    width: rem-calc(654);
    padding: 0 rem-calc(48);
    text-align: center;
    padding-top: rem-calc(30);
    padding-bottom: rem-calc(50);
    position: relative;

    ul {
      white-space: nowrap;

      li {
        display: inline-table;
        text-align: center;

        .images {
          width: 100%;
          height: rem-calc(110);
          img {
            width: rem-calc(110);
            height: rem-calc(110);
            border-radius: rem-calc(110);
            overflow: hidden;
            display: inline-block;
            font-size: 0;
          }
        }

        h4 {
          overflow: hidden;
          margin-top: rem-calc(20);
          font-size: rem-calc(32);
          color: #bfbfbf;
        }

        p {
          text-align: center;
          white-space: normal;
          font-size: rem-calc(24);
          color: #bfbfbf !important;
        }

        &.on {
          .images{
            width: 100%;
            height: rem-calc(130);
            img{
              width: rem-calc(130);
              height: rem-calc(130);
              border-radius: rem-calc(130);
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.61);
            }
          }

          h4, p {
            color: #000 !important;
          }
        }
      }

      &.ul_align1 {
        display: inline-table;
        margin: 0 auto;

        li {
          padding: 0 rem-calc(25);
        }
      }

      &.ul_align1 {
        display: inline-table;
        margin: 0 auto;
        li {
          &:first-child {
            margin-left: rem-calc(48);
          }
          margin-right: rem-calc(48);
          padding: 0 rem-calc(60);
        }
      }

      &.ul_align2 {
        display: inline-table;
        margin: 0 auto;

        li {
          &:first-child {
            margin-left: rem-calc(48);
          }
          margin-right: rem-calc(48);
          padding: 0 rem-calc(18);
        }
      }

      &.ul_align3 {
        display: inline-table;
        margin: 0 auto;

        li {
          //&:first-child {
          //  margin-left: rem-calc(32);
          //}
          //
          //margin-right: rem-calc(32);
          &.left_one{
            margin-left: rem-calc(32);
          }
          &.right_one{
            margin-left: rem-calc(0);
          }
        }
      }
    }

    .page-right{
      position: absolute;
      right: 5px;
      top:0px;
      height: rem-calc(250);
      line-height: rem-calc(250);
      width: rem-calc(50);
      overflow: hidden;
      .icon-finger-slide-{
        display: inline-block;
        //transform: rotate(-90deg);
        font-size: rem-calc(60);
        opacity: 0.6;
        animation: zy 2.5s .15s linear infinite;
      }
    }
  }

  .synopsis {
    width: rem-calc(654);
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(165, 165, 165, 0.61);
    border-radius: rem-calc(40);
    background: #fff;
    overflow: hidden;

    .images {
      width: rem-calc(654);
      font-size: 0;
      img {
        width: 100%;
      }
    }

    h4 {
      padding: 0 rem-calc(48);
      padding-top: rem-calc(32);
      font-size: rem-calc(48);
      color: #000;
      font-weight: bold;
    }

    p {
      padding: 0 rem-calc(48);
      padding-bottom: rem-calc(42);
      font-size: rem-calc(32);
      height: rem-calc(50);
      color: #000 !important;

      span {
        float: right;
        font-size: rem-calc(24);
        border: 1px solid #000;
        border-radius: rem-calc(10);
        height: rem-calc(50);
        line-height: rem-calc(50);
        padding: 0 rem-calc(20);
        color: #000 !important;
      }
    }
  }

  &.jordan{
    .list{
      ul{
        li{
          &.on{
            h4,p{
              color: #fff !important;
            }
          }
        }
      }
      .page-right{
        .icon-finger-slide-{
          color: #fff !important;
        }
      }
    }
  }
}