.shake {
    animation: shake 1.3s linear forwards;
    -webkit-animation: shake 1.3s linear forwards;
}

.openall {
    animation: openall 1.3s linear forwards;
    -webkit-animation: openall 1.3s linear forwards;
}

@keyframes openall {
    0% {
        // background: image-url("book/cut0.png") center no-repeat;
        // background-size: rem-calc(1310) rem-calc(884);
        top: rem-calc(-176);
        left: rem-calc(-303);
        width: rem-calc(1000);
        height: rem-calc(884);
    }

    // 10% {
    //     background: image-url("book/cut1.png") center no-repeat;
    //     background-size: rem-calc(1371) rem-calc(925.2);
    // }

    // 20% {
    //     background: image-url("book/cut2.png") center no-repeat;
    //     background-size: rem-calc(1432) rem-calc(966.4);
    // }

    // 30% {
    //     background: image-url("book/cut3.png") center no-repeat;
    //     background-size: rem-calc(1493) rem-calc(1007.6);
    // }

    // 40% {
    //     background: image-url("book/cut4.png") center no-repeat;
    //     background-size: rem-calc(1554) rem-calc(1048.8);
    // }

    // 50% {
    //     background: image-url("book/cut5.png") center no-repeat;
    //     background-size: rem-calc(1615) rem-calc(1090);
    // }

    // 60% {
    //     background: image-url("book/cut6.png") center no-repeat;
    //     background-size: rem-calc(1676) rem-calc(1131.2);
    // }

    // 70% {
    //     background: image-url("book/cut7.png") center no-repeat;
    //     background-size: rem-calc(1737) rem-calc(1172.4);
    // }

    // 80% {
    //     background: image-url("book/cut8.png") center no-repeat;
    //     background-size: rem-calc(1798) rem-calc(1213.6);
    // }

    // 90% {
    //     background: image-url("book/cut9.png") center no-repeat;
    //     background-size: rem-calc(1859) rem-calc(1254.8);
    // }

    100% {
        // background: image-url("book/cut10.png") center no-repeat;
        // background-size: rem-calc(1920) rem-calc(1296);
        top: rem-calc(-270);
        left: rem-calc(-720);
        width: rem-calc(1600);
        height: rem-calc(1414.4);
    }
}

@-webkit-keyframes openall {

    //61 41.2
    0% {
        // background: image-url("book/cut0.png") center no-repeat;
        // background-size: rem-calc(1310) rem-calc(884);
        top: rem-calc(-176);
        left: rem-calc(-303);
        width: rem-calc(1000);
        height: rem-calc(884);
    }

    // 10% {
    //     background: image-url("book/cut1.png") center no-repeat;
    //     background-size: rem-calc(1371) rem-calc(925.2);
    // }

    // 20% {
    //     background: image-url("book/cut2.png") center no-repeat;
    //     background-size: rem-calc(1432) rem-calc(966.4);
    // }

    // 30% {
    //     background: image-url("book/cut3.png") center no-repeat;
    //     background-size: rem-calc(1493) rem-calc(1007.6);
    // }

    // 40% {
    //     background: image-url("book/cut4.png") center no-repeat;
    //     background-size: rem-calc(1554) rem-calc(1048.8);
    // }

    // 50% {
    //     background: image-url("book/cut5.png") center no-repeat;
    //     background-size: rem-calc(1615) rem-calc(1090);
    // }

    // 60% {
    //     background: image-url("book/cut6.png") center no-repeat;
    //     background-size: rem-calc(1676) rem-calc(1131.2);
    // }

    // 70% {
    //     background: image-url("book/cut7.png") center no-repeat;
    //     background-size: rem-calc(1737) rem-calc(1172.4);
    // }

    // 80% {
    //     background: image-url("book/cut8.png") center no-repeat;
    //     background-size: rem-calc(1798) rem-calc(1213.6);
    // }

    // 90% {
    //     background: image-url("book/cut9.png") center no-repeat;
    //     background-size: rem-calc(1859) rem-calc(1254.8);
    // }

    100% {
        // background: image-url("book/cut10.png") center no-repeat;
        // background-size: rem-calc(1920) rem-calc(1296);
        top: rem-calc(-270);
        left: rem-calc(-720);
        width: rem-calc(1600);
        height: rem-calc(1414.4);
    }
}

.smallblack {
    animation: smallblack 3s linear forwards;
    -webkit-animation: smallblack 3s linear forwards;
}

@keyframes smallblack {
    0% {
        background-size: 150%;
        background-position: center;
    }

    100% {
        background-size: 100%;
        background-position: center;
    }
}

@-webkit-keyframes smallblack {
    0% {
        background-size: 150%;
        background-position: center;
    }

    100% {
        background-size: 100%;
        background-position: center;
    }
}

// .leftbutton{
//     animation: leftbutton 1.3s linear forwards;
//     -webkit-animation: leftbutton 1.3s linear forwards;
// }

// @keyframes leftbutton {
//     0% {
//         top: rem-calc(-100);
//     }

//     100% {
//         top: rem-calc(-150);
//     }
// }

// @-webkit-keyframes leftbutton {
//     0% {
//         top: rem-calc(-100);
//     }

//     100% {
//         top: rem-calc(-150);
//     }
// }

.bighome_book {
    animation: bighome_book 1.3s linear forwards;
    -webkit-animation: bighome_book 1.3s linear forwards;
}

@keyframes bighome_book {
    0% {
        height: rem-calc(664);
        padding-top: rem-calc(372);
    }

    100% {
        height: rem-calc(1060);
        padding-top: rem-calc(262);
    }
}

@-webkit-keyframes bighome_book {
    0% {
        height: rem-calc(664);
        padding-top: rem-calc(372);
    }

    100% {
        height: rem-calc(1060);
        padding-top: rem-calc(262);
    }
}

.bigdesk {
    animation: bigdesk 1.3s linear forwards;
    -webkit-animation: bigdesk 1.3s linear forwards;
}

@keyframes bigdesk {
    0% {
        background-color: #132c3b;
        background-image: image-url("common/desk.png");
        background-size: rem-calc(1250) rem-calc(1731);
        background-position: rem-calc(-328) rem-calc(-56);
        background-repeat: no-repeat;
    }

    100% {
        background-color: #132c3b;
        background-image: image-url("common/desk.png");
        background-size: rem-calc(1806) rem-calc(2501);
        background-position: rem-calc(-646) rem-calc(-272);
        background-repeat: no-repeat;
    }
}

@-webkit-keyframes bigdesk {
    0% {
        background-color: #132c3b;
        background-image: image-url("common/desk.png");
        background-size: rem-calc(1250) rem-calc(1731);
        background-position: rem-calc(-328) rem-calc(-56);
        background-repeat: no-repeat;
    }

    100% {
        background-color: #132c3b;
        background-image: image-url("common/desk.png");
        background-size: rem-calc(1806) rem-calc(2501);
        background-position: rem-calc(-646) rem-calc(-272);
        background-repeat: no-repeat;
    }
}

.toyUp {
    animation: toyUp 1.3s linear forwards;
    -webkit-animation: toyUp 1.3s linear forwards;
}

@keyframes toyUp {
    0% {
        top: rem-calc(98);
    }

    100% {
        top: rem-calc(17);
    }
}

@-webkit-keyframes toyUp {
    0% {
        top: rem-calc(98);
    }

    100% {
        top: rem-calc(17);
    }
}

.desklampUp {
    animation: desklampUp 1.3s linear forwards;
    -webkit-animation: desklampUp 1.3s linear forwards;
}

@keyframes desklampUp {
    0% {
        top: rem-calc(118);
        right: rem-calc(-60);
        width: rem-calc(333);
        height: rem-calc(456);
    }

    //1.42857143
    100% {
        top: rem-calc(-50);
        right: rem-calc(-229);
        width: rem-calc(475.714286);
        height: rem-calc(651.428572);
    }
}

@-webkit-keyframes desklampUp {
    0% {
        top: rem-calc(118);
        right: rem-calc(-60);
        width: rem-calc(333);
        height: rem-calc(456);
    }

    100% {
        top: rem-calc(0);
        right: rem-calc(-229);
        width: rem-calc(475.714286);
        height: rem-calc(651.428572);
    }
}

.fanshu {
    animation: fanshu 3s linear infinite;
    -webkit-animation: fanshu 3s linear infinite;
}

@keyframes fanshu {
    0% {
        background: image-url("book/book1.png") no-repeat;
        background-size: 100%;
    }

    20% {
        background: image-url("book/book2.png") no-repeat;
        background-size: 100%;
    }

    40% {
        background: image-url("book/book3.png") no-repeat;
        background-size: 100%;
    }

    50% {
        background: image-url("book/book2.png") no-repeat;
        background-size: 100%;
    }

    60% {
        background: image-url("book/book3.png") no-repeat;
        background-size: 100%;
    }

    70% {
        background: image-url("book/book4.png") no-repeat;
        background-size: 100%;
    }

    80% {
        background: image-url("book/book3.png") no-repeat;
        background-size: 100%;
    }

    100% {
        background: image-url("book/book2.png") no-repeat;
        background-size: 100%;
    }
}

@-webkit-keyframes fanshu {
    0% {
        background: image-url("book/book1.png") no-repeat;
        background-size: 100%;
    }

    20% {
        background: image-url("book/book2.png") no-repeat;
        background-size: 100%;
    }

    40% {
        background: image-url("book/book3.png") no-repeat;
        background-size: 100%;
    }

    50% {
        background: image-url("book/book2.png") no-repeat;
        background-size: 100%;
    }

    60% {
        background: image-url("book/book3.png") no-repeat;
        background-size: 100%;
    }

    70% {
        background: image-url("book/book4.png") no-repeat;
        background-size: 100%;
    }

    80% {
        background: image-url("book/book3.png") no-repeat;
        background-size: 100%;
    }

    100% {
        background: image-url("book/book2.png") no-repeat;
        background-size: 100%;
    }
}

.wfg {
    animation: wfg 3s linear infinite;
    -webkit-animation: wfg 3s linear infinite;
}

@keyframes wfg {
    0% {
        left: rem-calc(0);
    }

    50% {
        left: rem-calc(60);
    }

    100% {
        left: rem-calc(0);
    }
}

@-webkit-keyframes wfg {
    0% {
        left: rem-calc(0);
    }

    50% {
        left: rem-calc(60);
    }

    100% {
        left: rem-calc(0);
    }
}

.doudong {
    animation: doudong 0.5s infinite linear;
    -webkit-animation: doudong 0.5s infinite linear;
}

@keyframes doudong {
    0% {
        top: rem-calc(-20);
        left: rem-calc(83);
    }

    20% {
        top: rem-calc(-15);
        left: rem-calc(63);
    }

    30% {
        top: rem-calc(-15);
        left: rem-calc(58);
    }

    60% {
        top: rem-calc(-20);
        left: rem-calc(64);
    }

    65% {
        top: rem-calc(-20);
        left: rem-calc(68);
    }

    75% {
        top: rem-calc(-15);
        left: rem-calc(54);
    }

    90% {
        top: rem-calc(-15);
        left: rem-calc(62);
    }

    100% {
        top: rem-calc(-20);
        left: rem-calc(55);
    }
}

@-webkit-keyframes doudong {
    0% {
        top: rem-calc(-20);
        left: rem-calc(83);
    }

    20% {
        top: rem-calc(-15);
        left: rem-calc(63);
    }

    30% {
        top: rem-calc(-15);
        left: rem-calc(58);
    }

    60% {
        top: rem-calc(-20);
        left: rem-calc(64);
    }

    65% {
        top: rem-calc(-20);
        left: rem-calc(68);
    }

    75% {
        top: rem-calc(-15);
        left: rem-calc(54);
    }

    90% {
        top: rem-calc(-15);
        left: rem-calc(62);
    }

    100% {
        top: rem-calc(-20);
        left: rem-calc(55);
    }
}

.transform_7deg {
    animation: myfirst1 3s linear forwards;
    -webkit-animation: myfirst1 3s linear forwards;
}

//旋转
@keyframes myfirst1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(7deg);
    }
}

@-webkit-keyframes myfirst1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(7deg);
    }
}

.filterblur_min {
    animation: filterblur_min 3s linear forwards;
    -webkit-animation: filterblur_min 3s linear forwards;
}

@keyframes filterblur_min {
    0% {
        filter: blur(0);
    }

    100% {
        filter: blur(8px);
    }
}

@-webkit-keyframes filterblur_min {
    0% {
        filter: blur(0);
    }

    100% {
        filter: blur(8px);
    }
}

.filterblur_2 {
    animation: filterblur 2s linear forwards;
    -webkit-animation: filterblur 2s linear forwards;
}

.filterblur_3 {
    animation: filterblur 3s linear forwards;
    -webkit-animation: filterblur 3s linear forwards;
}

@keyframes filterblur {
    0% {
        filter: blur(8px);
    }

    100% {
        filter: blur(0px);
    }
}

@-webkit-keyframes filterblur {
    0% {
        filter: blur(8px);
    }

    100% {
        filter: blur(0px);
    }
}

.fadeInDown {
    animation: fadeInDown 5s linear forwards;
    -webkit-animation: fadeInDown 5s linear forwards;
}

.fadeInImg {
    animation: fadeIn 3s linear forwards;
    -webkit-animation: fadeIn 3s linear forwards;
}

.bounceIn {
    animation: bounceIn 2s linear forwards;
    -webkit-animation: bounceIn 2s linear forwards;
}

.fadeIn {
    animation: fadeIn 5s linear forwards;
    -webkit-animation: fadeIn 5s linear forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.lightsIn {
    animation: lightsIn 3s linear forwards;
    -webkit-animation: lightsIn 3s linear forwards;
}

@keyframes lightsIn {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0.6;
    }

    30% {
        opacity: 0.2;
    }

    40% {
        opacity: 0.4;
    }

    50% {
        opacity: 0.3;
    }

    60% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes lightsIn {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0.6;
    }

    30% {
        opacity: 0.2;
    }

    40% {
        opacity: 0.4;
    }

    50% {
        opacity: 0.3;
    }

    60% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

.bounceInDown {
    animation: bounceInDown 3s linear forwards;
    -webkit-animation: bounceInDown 3s linear forwards;
}

.bounceInLeft {
    animation: bounceInLeft 3s linear forwards;
    -webkit-animation: bounceInLeft 3s linear forwards;
}