
.AppointmentAdviser{
  width: rem-calc(750);
  margin: 0 auto;
  overflow: hidden;
  h3{
    padding: 0 rem-calc(48);
    font-size: rem-calc(38);
    height: rem-calc(90);
    line-height: rem-calc(90);
    span{
      float: right;
      font-size: rem-calc(28);
      color: #3E3D3D;
      font-weight: normal;
    }
  }
  .appointment_content {
    padding: rem-calc(48) rem-calc(48);
    width: rem-calc(654);
    display: flex;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    .appointment_img {
      display: inline-block;
      font-size: 0;
      overflow: hidden;
      border-radius: rem-calc(192);
      img {
        width: rem-calc(192);
        height: rem-calc(192);
      }
    }
    .appointment_info{
      display: inline-table;
      width: rem-calc(414);
      margin-left: rem-calc(48);
      font-size: 0;
      line-height: rem-calc(192);
      p{
        display: inline-table;
        font-size: rem-calc(32);
        line-height: rem-calc(50);
        span{
          color: #9e9e9e;
        }
      }
    }
  }
  .txt{
    padding: rem-calc(20) rem-calc(48);
    border-bottom: 1px solid #f5f5f5;
    position: relative;
    p{
      width: rem-calc(500);
      &:nth-child(1){
        color: #bbb;
      }
      font-size: rem-calc(28);
      line-height: rem-calc(50);
    }
    span{
      position: absolute;
      right: rem-calc(48);
      top: rem-calc(20);
      height: rem-calc(100);
      line-height: rem-calc(100);
      font-size: rem-calc(48);
    }
  }
  .order {
    padding: rem-calc(48) 0;
    background: #fff;
    z-index: 10;
    position: fixed;
    bottom: 0;
    width: 100%;

    .btn {
      width: rem-calc(654);
      height: rem-calc(80);
      line-height: rem-calc(80);
      border-radius: rem-calc(10);
      margin: 0 auto;
      text-align: center;
      font-size: rem-calc(30);
      color: #fff;
      background: #000;
    }
  }
  .evaluate{
    padding: 0 rem-calc(48);
    font-size: rem-calc(32);
    line-height: rem-calc(70);
    color: #3E3D3D;
    .tags-box{
      .filterBlock{
        display: inline-block;
        width: auto;
        padding: 0 rem-calc(32);
        background-color: #ffffff;
        font-size: rem-calc(24);
        height: rem-calc(48);
        line-height: rem-calc(48);
        color: #111111;
        border-radius: 4px;
        border: 1px solid #afafaf;
        margin-right: 6px;
        &.action{
          background-color: #111111;
          color: #ffffff;
          border: 1px solid #111111;
        }
      }
    }
    .stars{
      text-align: center;
      line-height: rem-calc(70);
      span{
        padding: 0 rem-calc(5);
        &.iconfont{
          font-size: rem-calc(50);
        }
        &.icon-starsOn{
          color: #fff700;
        }
        &.icon-starsOff{
          color: #dedede;
        }
      }
    }
    .serves{
      font-size: rem-calc(28);
      text-indent: 2rem;
      .isNo{
        display: inline-table;
        float: right;
        span{
          padding: rem-calc(10) rem-calc(30);
          font-size: rem-calc(24);
          background: #f9f9f9;
          &.on{
            background: #666;
            color: #fff;
          }
        }
      }
    }
  }
  .page-info{
    text-align: center;
    font-size: rem-calc(38);
    p{
      font-size: rem-calc(250);
    }
  }
  &.jordan{
    .evaluate{
      color: #fff;
      .tags-box{
        .filterBlock{
          &.action{
            background-color: #fff700;
            color: #fff700;
            border: 1px solid #fff700;
          }
        }
      }
      .stars{
        span.icon-starsOn{
          color: #fff700 !important;
        }
      }
      .serves{
        .isNo{
          span{
            color: #000 !important;
            &.on{
              color: #fff !important;
            }
          }
        }
      }
    }
    .order{
      background: #000;
      .btn{
        background: #b7052d;
      }
    }
  }
}
