
.AppointmentActivities{
  width: rem-calc(750);
  margin: 0 auto;
  overflow: hidden;
  h2{
    text-align: center;
    height: rem-calc(102.8);
    line-height: rem-calc(102.8);
    font-size: rem-calc(28.98);
    color: #6A6A6A;
    letter-spacing: rem-calc(1.08);
  }
  h5{
    height: rem-calc(200);
    line-height: rem-calc(200);
    font-size: rem-calc(42);
    padding: 0 rem-calc(48);
    color: #9e9e9e;
    text-align: center;
  }
  h3{
    height: rem-calc(120);
    line-height: rem-calc(120);
    font-size: rem-calc(42);
    padding: 0 rem-calc(48);
  }
  .list_recommend{
    padding-left: rem-calc(48);
    display: inline-table;
    .list_box{
      margin-right: rem-calc(48);
      width: rem-calc(303);
      float: left;
      text-align: center;
      .list_img{
        width: rem-calc(303);
        height: rem-calc(303);
        font-size: 0;
        border-radius: rem-calc(20);
        overflow: hidden;
        img{
          width: 100%;
          height: 100%;
        }
      }
      h3{
        margin: rem-calc(15) 0;
        font-size: rem-calc(28);
        height: rem-calc(90);
        line-height: rem-calc(45);
        overflow: hidden;
      }
      p{
        font-size: rem-calc(28);
        color: #9e9e9e;
        padding-bottom: rem-calc(25);
      }
    }
  }
  .RotationBigImg{
    .carousel-item{
      border-radius: revert !important;
    }
  }
}