
.CommodityFashion {
  width: 100%;
  overflow: hidden;
  padding-bottom: rem-calc(100);

  .FashionBox {
    //padding-bottom: rem-calc(40);


    h1 {
      font-size: rem-calc(54.34);
      font-weight: bold;
      letter-spacing: rem-calc(1.64);
      margin: 0 rem-calc(46);
      padding: rem-calc(10) 0;
      padding-right: rem-calc(70);
    }

    h4 {
      margin: 0 rem-calc(46);
      letter-spacing: rem-calc(0.92);
      padding-bottom: rem-calc(30);
      color: #6A6A6A;
      font-size: rem-calc(30.8);
    }

    .s_btn {
      margin-left: rem-calc(46);
      width: rem-calc(202);
      height: rem-calc(86);
      line-height: rem-calc(86);
      text-align: center;
      font-size: rem-calc(27.18);
      letter-spacing: rem-calc(1.02);
      background: #000;
      color: #fff;
      border-radius: rem-calc(86);
    }
    .jianju{
      width: 100%;
      height: rem-calc(120);
    }
  }
}