.CommodityIndex{
  width: 100%;
  overflow: hidden;
  h1{
    padding: 0 rem-calc(48);
    height: rem-calc(130);
    line-height: rem-calc(130);
    letter-spacing: rem-calc(1.08);
    font-size: rem-calc(42);
    font-weight: bold;
    span{
      float: right;
      font-weight: normal;
      font-size: rem-calc(28);
      color: #8c8c8c;
      letter-spacing: rem-calc(0.66);
      text-decoration: underline;
    }
  }
}