.page2 {
    z-index: 80;
    display: none;
    background: image-url("common/page2background.png") no-repeat;
    background-size: 100%;

    .home {
        position: absolute;
        width: 100%;
        height: rem-calc(884);
        top: 50%;
        margin-top: rem-calc(-442);
        z-index: 10;

        .home_title {
            @include rem-sprite("page2/*.png", title, $spacing: 5px);
            margin: 0 auto;
            margin-bottom: rem-calc(29);
        }

        .home_title2 {
            @include rem-sprite("page2/*.png", title2, $spacing: 5px);
            margin: 0 auto;
            margin-bottom: rem-calc(56);
        }

        .home_book {
            position: relative;
            width: rem-calc(603);
            height: rem-calc(317);
            margin: 0 auto;
            margin-bottom: rem-calc(55);

            div {
                position: absolute;

                &.book {
                    width: rem-calc(603);
                    height: rem-calc(317);
                    background: image-url("book/book1.png") no-repeat;
                    background-size: 100%;
                    z-index: 3;
                }

                &.book_light {
                    @include rem-sprite("page2/*.png", book_light, $spacing: 5px);
                    z-index: 2;
                    left: 0;
                    bottom: 0;
                }

                &.book_shadow {
                    @include rem-sprite("page2/*.png", book_shadow, $spacing: 5px);
                    z-index: 1;
                    bottom: rem-calc(-36);
                }
            }
        }

        .home_volume {
            @include rem-sprite("page2/*.png", volume, $spacing: 5px);
            margin: 0 auto;
            margin-bottom: rem-calc(54);
        }

        .home_cooperation {
            @include rem-sprite("page2/*.png", cooperation, $spacing: 5px);
            margin: 0 auto;
            margin-bottom: rem-calc(54);
        }
    }

    .warning {
        display: none;
    }
}

.page3 {
    background-color: #132c3b;
    background-image: image-url("common/desk.png");
    background-size: rem-calc(1250) rem-calc(1731);
    background-position: rem-calc(-328) rem-calc(-56); //44
    background-repeat: no-repeat;
    z-index: 70;
    display: none;

    .animate_box {
        position: relative;
        width: rem-calc(750);
        z-index: 80;

        .toy {
            position: absolute;
            width: rem-calc(159);
            height: rem-calc(306);
            background-image: image-url("common/toy.png");
            background-repeat: no-repeat;
            background-size: 100%;
            top: rem-calc(98);
        }

        .desklamp {
            position: absolute;
            width: rem-calc(333);
            height: rem-calc(456);
            background-image: image-url("common/desklamp.png");
            background-repeat: no-repeat;
            background-size: 100%;
            top: rem-calc(118);
            right: rem-calc(-60);
        }

        .home {
            z-index: 10;
            position: relative;
            // @include rem-sprite("background/*.png", bg3, $spacing: 5px);
            // background: image-url("common/desk.png") no-repeat;
            // background-size: rem-calc(1250) rem-calc(1731);
            // background-position:rem-calc(-328) rem-calc(0);

            .home_book {
                position: relative;
                width: 100%;
                height: rem-calc(664);
                padding-top: rem-calc(372);
                z-index: 9;
                overflow: hidden;

                div {
                    position: absolute;

                    &.book {
                        right: rem-calc(90); //55
                        @include rem-sprite("page3/*.png", book, $spacing: 5px);
                    }

                    &.openbook {
                        display: none;
                        position: relative;
                        // top: rem-calc(-268);
                        // left: rem-calc(-760);
                        // width: rem-calc(1920);
                        // height: rem-calc(1296);
                        top: rem-calc(-176);
                        left: rem-calc(-303);
                        width: rem-calc(1000);
                        height: rem-calc(884);
                        // background: image-url("book/cut0.png") center no-repeat;
                        // background-size: rem-calc(1310) rem-calc(884);

                        // .conter {
                        //     position: absolute;
                        //     z-index: 10;
                        //     display: none;

                        //     &.conter1 {
                        //         background: image-url("book/conter1.png") center no-repeat;
                        //         background-size: 100%;
                        //     }

                        //     &.conter2 {
                        //         background: image-url("book/conter2.png") center no-repeat;
                        //         background-size: 100%;
                        //     }

                        //     &.conter3 {
                        //         background: image-url("book/conter3.png") center no-repeat;
                        //         background-size: 100%;
                        //     }
                        // }
                    }

                    &.arrow {
                        right: rem-calc(141); //106   1.46575342
                        top: rem-calc(739);
                        @include rem-sprite("page3/*.png", arrow, $spacing: 5px);
                    }
                }
            }

            p {
                position: relative;
                top: rem-calc(-100);
                font-size: rem-calc(24.5);
                text-align: center;
                z-index: 20;
            }
        }

        .text {
            position: absolute;
            display: none;
            width: rem-calc(444);
            height: rem-calc(695);
            z-index: 11;
            top: rem-calc(320);
            left: rem-calc(146);

            .text_img {
                position: absolute;
                opacity: 0;

                &.text_cloud {
                    @include rem-sprite("page3/*.png", cloud, $spacing: 5px);
                    left: rem-calc(233);
                    top: 0;
                }

                &.text_bingqiling {
                    @include rem-sprite("page3/*.png", bingqiling, $spacing: 5px);
                    left: rem-calc(115);
                    top: rem-calc(130);
                }

                &.text_cahan {
                    @include rem-sprite("page3/*.png", cahan, $spacing: 5px);
                    left: rem-calc(135);
                    top: rem-calc(165);
                }

                &.text_kiss {
                    @include rem-sprite("page3/*.png", kiss, $spacing: 5px);
                    left: rem-calc(140);
                    top: rem-calc(303);
                }

                &.text_qinqin {
                    @include rem-sprite("page3/*.png", qinqin, $spacing: 5px);
                    left: rem-calc(205);
                    top: rem-calc(373);
                }

                &.text_qunzi {
                    @include rem-sprite("page3/*.png", qunzi, $spacing: 5px);
                    left: rem-calc(390);
                    top: rem-calc(496);
                }

                &.text_nielian {
                    @include rem-sprite("page3/*.png", nielian, $spacing: 5px);
                    left: rem-calc(220);
                    top: rem-calc(643);
                }
            }
        }

        .button {
            margin: 0 auto;
            // margin-bottom: rem-calc(50);
            position: relative;
            z-index: 91;

            &.button0 {
                top: rem-calc(-80);
                @include rem-sprite("page3/*.png", button0, $spacing: 5px);
            }

            &.button1 {
                top: rem-calc(-250);
                @include rem-sprite("page3/*.png", button, $spacing: 5px);
            }
        }
    }

    .result {
        position: absolute;
        width: rem-calc(750);
        min-height: 100vh;
        z-index: 90;
        display: none;

        .desklamp2 {
            position: absolute;
            top: rem-calc(-50);
            right: rem-calc(-229);
            width: rem-calc(475.714286);
            height: rem-calc(651.428572);
            background-image: image-url("common/desklamp.png");
            background-repeat: no-repeat;
            background-size: 100%;
            z-index: 10;
        }

        .lights {
            position: absolute;
            z-index: 9;
            right: rem-calc(-405.714286);
            top: rem-calc(33);
            background-image: image-url("common/lights.png");
            background-repeat: no-repeat;
            background-size: rem-calc(1788) rem-calc(1326);
            width: rem-calc(1788);
            height: rem-calc(1326);
        }

        .box {
            position: absolute;
            width: rem-calc(750);
            top: rem-calc(263);
            z-index: 11;

            .lightbulb {
                position: relative;
                margin: 0 auto;

                &.lightbulb3 {
                    display: none;
                }

                &.lightbulb2 {
                    @include rem-sprite("page3/*.png", lightbulb2, $spacing: 5px);
                }

                &.lightbulb1 {
                    @include rem-sprite("page3/*.png", lightbulb1, $spacing: 5px);
                }

                &.lightbulb0 {
                    @include rem-sprite("page3/*.png", lightbulb0, $spacing: 5px);
                }
            }

            h2 {
                margin-top: rem-calc(29);
                font-size: rem-calc(38.94);
                line-height: rem-calc(49.76);
                color: #2d516e;
                text-align: center;
            }

            h4 {
                margin-top: rem-calc(77);
                font-size: rem-calc(30);
                line-height: rem-calc(48.39);
                color: #2d516e;
                text-align: center;
            }

            h5 {
                margin-top: rem-calc(36);
                font-size: rem-calc(30);
                line-height: rem-calc(49.23);
                color: #2d516e;
                text-align: center;
            }

            .count {
                font-size: rem-calc(97.36);
                line-height: rem-calc(137.99);
                color: #2d516e;
                text-align: center;
            }
        }
    }

    .result2 {
        display: none;
        width: rem-calc(750);
        min-height: 100vh;
        background: image-url("common/page2background.png") no-repeat;
        background-size: 100%;
        z-index: 90;

        .errbox {
            position: absolute;
            width: rem-calc(750);
            height: rem-calc(904.57);
            top: 50%;
            margin-top: rem-calc(-452.285);
            z-index: 10;

            .warn {
                position: absolute;
                left: 50%;

                &.warn1 {
                    @include rem-sprite("page3/*.png", warn1, $spacing: 5px);
                    margin-left: rem-calc(-105.5);
                    top: rem-calc(0); //149
                }

                &.warn2 {
                    @include rem-sprite("page3/*.png", warn2, $spacing: 5px);
                    margin-left: rem-calc(-188);
                    top: rem-calc(87);
                }
            }

            .box {
                position: absolute;
                width: rem-calc(750);
                top: rem-calc(258); //407
                z-index: 11;

                h2 {
                    font-size: rem-calc(38.94);
                    line-height: rem-calc(59.74);
                    color: #fff;
                    text-align: center;
                }

                h4 {
                    margin-top: rem-calc(47);
                    font-size: rem-calc(30);
                    line-height: rem-calc(59.67);
                    color: #fff;
                    text-align: center;
                }

                h5 {
                    font-size: rem-calc(30);
                    line-height: rem-calc(54.6);
                    color: #fff;
                    text-align: center;
                }

                .count {
                    font-size: rem-calc(97.36);
                    line-height: rem-calc(153.04);
                    color: #f40c28;
                    text-align: center;
                }

            }
        }
    }

    .black {
        position: fixed;
        top: 0;
        z-index: 9;
        width: rem-calc(750);
        height: 100vh;

        box-shadow: rem-calc(-5) 0px rem-calc(100) black inset,
            0px rem-calc(-100) rem-calc(207) black inset,
            rem-calc(100) 0px rem-calc(207) black inset,
            0px rem-calc(5) rem-calc(100) black inset;

        &.black2 {
            z-index: 90;
            display: none;
            width: rem-calc(750);
            height: 100vh;
            box-shadow: rem-calc(-5) 0px rem-calc(100) black inset,
                0px rem-calc(-100) rem-calc(207) black inset,
                rem-calc(5) 0px rem-calc(5) black inset,
                0px rem-calc(5) rem-calc(100) black inset;
        }
    }
}

.page5 {
    z-index: 65;
    display: none;

    .conter {
        position: absolute;
        text-align: center;
        width: rem-calc(750);
        height: rem-calc(1099);
        top: 50%;
        margin-top: rem-calc(-549.5);
        // height: 100vh;
        z-index: 10;
        // background-image: image-url("common/page5background.png");
        // background-size: rem-calc(750) rem-calc(1624);
        // background-repeat: no-repeat;
        display: none;

        div {
            display: inline-block;
        }


        .logo {
            // margin-top: rem-calc(73);
            width: rem-calc(432);
            height: rem-calc(867);
            background-image: image-url("common/logo.png");
            background-size: rem-calc(432) rem-calc(897);
            background-repeat: no-repeat;
        }

        .money {

            .copy {
                @include rem-sprite("page5/*.png", copy, $spacing: 5px);
            }

            .moneylist {
                display: none;

                .moneyBtn {
                    @include rem-sprite("page5/*.png", money2Btn, $spacing: 5px);
                    margin: 0 rem-calc(10);
                    float: left;

                    &.moneyBtn2 {
                        @include rem-sprite("page5/*.png", moneyBtn, $spacing: 5px);
                    }

                    .money5 {
                        margin-top: rem-calc(19);
                        @include rem-sprite("page5/*.png", money5, $spacing: 5px);
                    }

                    .money10 {
                        margin-top: rem-calc(19);
                        @include rem-sprite("page5/*.png", money10, $spacing: 5px);
                    }

                    .money20 {
                        margin-top: rem-calc(19);
                        @include rem-sprite("page5/*.png", money20, $spacing: 5px);
                    }

                    .money50 {
                        margin-top: rem-calc(19);
                        @include rem-sprite("page5/*.png", money50, $spacing: 5px);
                    }
                }
            }

            .button_txt {
                margin-top: rem-calc(30);
                @include rem-sprite("page5/*.png", button, $spacing: 5px);

                .button_txt1 {
                    margin-top: rem-calc(28);
                    @include rem-sprite("page5/*.png", button_txt1, $spacing: 5px);
                }

                .button_txt2 {
                    display: none;
                    margin-top: rem-calc(28);
                    @include rem-sprite("page5/*.png", button_txt2, $spacing: 5px);
                }
            }
        }
    }

    .share {
        display: none;
        position: absolute;
        text-align: center;
        width: rem-calc(750);
        height: rem-calc(662.68);
        top: 50%;
        margin-top: rem-calc(-331.34);
        z-index: 99;

        .book {
            display: inline-block;
            @include rem-sprite("page5/*.png", book, $spacing: 5px);
        }

        h4 {
            font-size: rem-calc(30);
            line-height: rem-calc(51.28);
            letter-spacing: rem-calc(4);
        }

        .shareBtn {
            display: inline-block;
            margin-top: rem-calc(61);
            @include rem-sprite("page5/*.png", shareBtn, $spacing: 5px);
        }
    }

    .GY_end {
        position: absolute;
        width: rem-calc(750);
        height: 100vh;
        top: 0;
        z-index: 9;
        overflow: hidden;

        img {
            position: absolute;
            left: 50%;
            margin-left: rem-calc(-721);
            width: rem-calc(1442);
            // height: rem-calc(1334);
        }
    }
}