
.Limit_list{
  width: 100%;
  overflow: hidden;
  padding-bottom: rem-calc(100);
  .down-icon{
    text-align: center;
    padding-top: rem-calc(48.28);
    font-size: rem-calc(40);
  }
  &.jordan{
    .ListBigImgBox{
      box-shadow: none;
      .title{
        color: #fff;
      }
      .s_btn1{
        background: #b7052d;
      }
    }
  }
}