.LimitSuccess {
  width: 100%;
  overflow: hidden;
  padding-bottom: rem-calc(150);
  .topArea {
    width: 100vw;
    text-align: center;
    padding-top: rem-calc(100);
    padding-bottom: rem-calc(10);
    i {
      font-size: rem-calc(100);
    }
    h2 {
      font-size: rem-calc(40);
      font-weight: bold;
      text-align: center;
      padding-bottom: rem-calc(50);
    }
  }
  .time-box {
    background: #f9f9f9;
    width: rem-calc(600);
    padding: rem-calc(90) 0;
    text-align: center;
    margin: 0 auto;
    border-radius: rem-calc(10);
    p {
      line-height: 2;
      font-size: rem-calc(30);
      color: #666;
      span {
        color: #000;
        font-weight: bold;
        font-size: rem-calc(30);
      }
    }
  }
  .tips {
    font-size: rem-calc(28);
    margin: rem-calc(40) 0;
    line-height: rem-calc(40);
    text-align: center;
  }
  .emm {
    width: rem-calc(240);
    margin: 0 auto;
    padding: rem-calc(10);
    background: #fff;
    img {
      width: rem-calc(240);
      outline: none;
    }
  }
  .tips2 {
    padding: 0 rem-calc(40);
    margin-top: rem-calc(40);
    font-size: rem-calc(24);
    line-height: rem-calc(40);
  }
}