
.LimitAppointment {
  width: 100%;
  overflow: hidden;
  padding-bottom: rem-calc(140);
  h2 {
    text-align: center;
    height: rem-calc(102.8);
    line-height: rem-calc(102.8);
    font-size: rem-calc(28.98);
    color: #6A6A6A;
    letter-spacing: rem-calc(1.08);
  }

  .infoDetails {
    width: rem-calc(654);
    margin: 0 auto;
    padding: rem-calc(42) 0;
  }
  .infoTitle {
    font-size: rem-calc(48.92);
    font-weight: bold;
    letter-spacing: rem-calc(1.84);
    line-height: rem-calc(68);
    margin-bottom: rem-calc(13.4);
  }
  .sellingImg{
    font-size: 0;
    width: rem-calc(654);
    padding-bottom: rem-calc(48);
    img{
      display: inline-block;
      width: 45%;
    }
    .selectSize{
      margin-left: 5%;
      display: inline-block;
      width: 50%;
      float: right;
      p{
        line-height: rem-calc(45);
        font-size: rem-calc(32);
        color: rgba(106,106,106,0.6);
      }
      .Size{
        width: 100%;
        display: inline-table;
        li{
          width: rem-calc(102);
          height: rem-calc(70.66);
          font-size: rem-calc(25.36);
          line-height: rem-calc(70.66);
          text-align: center;
          float: left;
          border: rem-calc(1) solid rgba(151,151,151,0.5);
          color: #6A6A6A;
          border-radius: rem-calc(5);
          margin-right: rem-calc(10);
          margin-top: rem-calc(10);
          &.active{
            color: #fff;
            background: #000;
          }
        }
      }
    }
  }

  .InfoEnter{
    .items{
      width: 100%;
      display: inline-table;
      padding: rem-calc(9.96) 0;
      label{
        width: rem-calc(160);
        height: rem-calc(70);
        line-height: rem-calc(70);
        float: left;
        color: rgba(106,106,106,0.6);
        font-size: rem-calc(32);
      }
      input{
        width: rem-calc(446);
        height: rem-calc(70);
        line-height: rem-calc(70);
        border: rem-calc(1) solid #d0d0d0;
        border-radius: rem-calc(10);
        text-align: center;
        float: right;
        font-size: rem-calc(32);
        &.code{
          width: rem-calc(255);
          margin-right: rem-calc(10.86);
        }
      }
      .getCodeBtn{
        width: rem-calc(180);
        // margin: rem-calc(8.61) 0;
        // height: rem-calc(48);
        // line-height: rem-calc(48);
        // border-radius: rem-calc(48);
        height: rem-calc(70);
        line-height: rem-calc(70);
        border-radius: rem-calc(5);
        background: #000;
        text-align: center;
        font-size: rem-calc(16.3);
        color: #fff;
        float: right;
      }
    }
  }
  .warning{
    padding: rem-calc(30) 0;
    line-height: rem-calc(40);
    color: #6A6A6A;
    font-size: rem-calc(16.3);
  }
  .infoBtn{
    //position: fixed;
    //bottom: 0;
    //left: 0;
    //width: 100vw;
    padding-top: rem-calc(32);
    height: rem-calc(140);
    background: #fff;
    z-index: 10;
    .btn{
      width: rem-calc(686);
      height: rem-calc(122);
      line-height: rem-calc(122);
      border-radius: rem-calc(122);
      margin: 0 auto;
      text-align: center;
      font-size: rem-calc(30);
      color: #fff;
      background: #000;
    }
  }
}
