@charset 'utf-8';
$reset:true; // 是否开启样式重置,默认false
$rem-base: 750px;
$Response:true;
$styleColor: #da363c;

@import "mobile-mixin";

#ListBigImgBox {
  position: relative;
  padding: rem-calc(74.28) rem-calc(32);
  box-shadow: 0 rem-calc(8) rem-calc(40) #9e9e9e;
  margin-bottom: rem-calc(21.74);
  .title {
    font-size: rem-calc(36.24);
    letter-spacing: rem-calc(1.36);
    color: #6A6A6A;
    padding-right: rem-calc(289.92);
    padding-bottom: rem-calc(15.56);
  }
  .time {
    letter-spacing: rem-calc(1.56);
    font-size: rem-calc(41.66);
    font-weight: bold;
  }
  .images{
    margin: rem-calc(32.58) 0;
    width: rem-calc(686);
    border-radius: rem-calc(30);
    overflow: hidden;
    font-size: 0;
    img{
      width: rem-calc(686);
    }
  }
  .s_btn{
    width: rem-calc(686);
    height: rem-calc(122);
    line-height: rem-calc(122);
    border-radius: rem-calc(122);
    text-align: center;
    color: #fff;
    &.s_btn1{
      background: #000;
    }
    &.s_btn2{
      background: #3E3D3D;
    }
  }
  .mask{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.4);
  }
}