@charset 'utf-8';
$reset:true; // 是否开启样式重置,默认false
$rem-base: 750px;
$Response:true;
$styleColor: #da363c;

@import "mobile-mixin";

#RotationBigImg {
    width: 100%;
    overflow: hidden;
    .carousel{
        width: 100%;
        overflow-y: hidden;
        .carousel-box{
            display: inline-table;
            white-space:nowrap;
            &:nth-child(1){
                margin-left: rem-calc(46);
            }
            &:last-child{
                margin-right: rem-calc(46) !important;
            }
            .carousel-item {
                display: inline-block;
                width: rem-calc(658);
                padding: 0 rem-calc(11.5); //46 / 4
                border-radius: rem-calc(20);
                font-size: 0;
                img {
                    width: rem-calc(658);
                    margin: 0;
                }
            }
        }  
    }
    .index-container{
        margin: 0 rem-calc(46);
        padding: rem-calc(49.32) 0;
        position: relative;
        ul{
            width: rem-calc(592);
            height: rem-calc(6);
            background: #D8D8D8;
            overflow: hidden;
            li{
                float: left;
                width: 33.33%;
                height: rem-calc(6);
                &.selected{
                    background: #9A9A9A;
                }
            }
        }
        span{
            font-size: rem-calc(16.3);
            height: rem-calc(104.64);
            line-height: rem-calc(104.64);
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}