@charset "utf-8";
$reset:true; // 是否开启样式重置,默认false
$rem-base: 750px;
$Response:true;
$styleColor: #da363c;

@import "compass/reset","compass/layout","mobile-mixin";

//移动端Web界面滚动性能优化 Passive event listeners touch事件
* { touch-action: pan-y; }

body{
	max-width: 750px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	font: 12px/1.5 "PingFang SC","Lantinghei SC","Microsoft Yahei",arial,tahoma,"Hiragino Sans GB",\5b8b\4f53;
	//color: #323232;
	//background: #F5FAFF;
	background: #fff;
}
//#root{
//	font-size: rem-calc(40);
//}

.headers{
	height: rem-calc(120);
	line-height: rem-calc(120);
	padding: 0 rem-calc(48);
	.name{
		font-size: rem-calc(28);
		font-weight: bold;
		span{
			float: right;
			font-weight: normal;
			font-size: rem-calc(28);
		}
		.nav{
			float: right;
			i{
				margin-left: rem-calc(48);
				font-size: rem-calc(48);
			}
		}
	}
}
.map{
	width: 100vw;
	height: 100vh;
}

.tips{
	padding-top: rem-calc(20);
	width: rem-calc(654);
	margin: 0 auto;
	font-size: rem-calc(28);
	p{
		span{
			text-decoration: underline;
		}
	}
}

.confirm_again {
	position: fixed;
	bottom: 0;
	padding: rem-calc(48);
	font-size: rem-calc(38);
	border-top: 1px solid #dedede;

	p {
		font-size: rem-calc(28);
		padding: rem-calc(24) 0;
	}

	.btn_box {
		text-align: center;

		span {
			display: inline-block;
			width: rem-calc(200);
			text-align: center;
			font-size: rem-calc(32);
			margin: 0 rem-calc(63.5);
		}
	}
}

.pop_up{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .6);
	z-index: 999;

	.pop_up_box {
		position: absolute;
		width: 70%;
		left: 15%;
		top: 20%;
		background: #fff;
		font-size: 16px;
		padding: 5% 0;
		max-height: 55%;
		overflow-y: scroll;

		h2 {
			padding-bottom: 10%;
			font-size: 20px;
			text-align: center;
		}

		p {
			padding: 0 15%;
			line-height: 1.5;
			font-size: 12px;
			margin-left: 10%;

			span {
				display: inline-block;
				width: 40%;

				&.tc {
					text-align: center;
					color: #ccc;
				}
			}
		}

		button {
			width: 50%;
			display: block;
			background: #fff;
			color: #000;
			height: 30px;
			line-height: 30px;
			margin: 5% auto;
			border: 1px solid #000;
		}
	}
}

@import "components/RotationBigImg";
@import "components/FollowPop";
@import "components/ListBigImgBox";
@import "components/RotationMinImg";

@import "AmbassadorContent";
@import "AmbassadorDetails";
@import "AmbassadorAppointment";
@import "AmbassadorSuccess";

@import "AppointmentIndex";
@import "AppointmentDetails";
@import "AppointmentLuckydraw";
@import "AppointmentActivities";
@import "AppointmentAdviser";

@import "ActivitiesContent";
@import "ActivitiesDetails";

@import "CommodityIndex";
@import "CommodityList";
@import "CommodityDetails";
@import "CommodityAppointment";
@import "CommodityFashion";

@import "LimitList";
@import "LimitDetails";
@import "LimitAppointment";
@import "LimitSuccess";

@import "Historical";

