@charset "utf-8";
$reset:true; // 是否开启样式重置,默认false
$rem-base: 750px;
$Response:true;
$styleColor: #da363c;

@import "compass/reset","compass/layout","mobile-mixin";

//移动端Web界面滚动性能优化 Passive event listeners touch事件
* { touch-action: pan-y; }

body{
	max-width: 750px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	font: 12px/1.5 "PingFang SC","Lantinghei SC","Microsoft Yahei",arial,tahoma,"Hiragino Sans GB",\5b8b\4f53;
	//color: #323232;
	//background: #F5FAFF;
	background: #fff;
}
//#root{
//	font-size: rem-calc(40);
//}

.headers{
	height: rem-calc(120);
	line-height: rem-calc(120);
	padding: 0 rem-calc(48);
	.name{
		font-size: rem-calc(28);
		font-weight: bold;
		span{
			float: right;
			font-weight: normal;
			font-size: rem-calc(28);
		}
		.nav{
			float: right;
			i{
				margin-left: rem-calc(48);
				font-size: rem-calc(48);
			}
		}
	}
}
.map{
	width: 100vw;
	height: 100vh;
}

@import "components/RotationBigImg";
@import "components/FollowPop";

@import "ActivitiesContent";

@import "AmbassadorContent";
@import "AmbassadorDetails";
@import "AmbassadorAppointment";
@import "AmbassadorSuccess";

@import "CommodityIndex";
@import "CommodityList";
@import "CommodityDetails";

@import "Historical";

