.RotationBigImg {
  width: rem-calc(654);
  margin: 0 auto;

  .carousel, .swiper-container {
    width: 100%;

    .carousel-box, .swiper-wrapper {
      display: inline-table;
      white-space: nowrap;
      font-size: 0;
      //&:nth-child(1){
      //  margin-left: rem-calc(96);
      //}
      //&:last-child{
      //  margin-right: rem-calc(48) !important;
      //}
      .left_one {
        margin-left: rem-calc(48);
      }

      .right_one {
        margin-left: rem-calc(-48);
      }

      .carousel-item, .swiper-slide {
        display: inline-block;
        width: rem-calc(558);
        border-radius: rem-calc(20);
        overflow: hidden;
        margin-right: rem-calc(48);
        font-size: 0;
        vertical-align: top;

        img {
          width: 100%;
          margin: 0;
          border-radius: rem-calc(20);
        }

        .img-box{
          overflow: hidden;
          img{
            border-radius: 0;
          }
        }

        h4 {
          line-height: rem-calc(24);
          font-size: rem-calc(18.12);
          padding: 0 rem-calc(16.3);
          margin-top: rem-calc(18.12);
          white-space: initial;
          &.actTxt{
            //font-weight: bold;
            text-align: center;
            font-size: rem-calc(22);
            line-height: rem-calc(30);
            height: rem-calc(60);
            text-overflow:ellipsis;
            overflow: hidden;
            padding: 0;
          }
        }

        p {
          font-size: rem-calc(22);
          color: #9A9A9A;
          padding: 0 rem-calc(16.3);
          &.timeTxt{
            text-align: center;
          }
        }
      }
    }
  }

  .index-container {
    padding: rem-calc(49.32) 0;
    position: relative;
    overflow: hidden;

    .swiper-pagination {
      width: rem-calc(592);
      height: rem-calc(6);
      overflow: hidden;

      span {
        float: left;
        transform-origin: left top;
        width: rem-calc(80);
        height: rem-calc(6);
        background: rgba(222,222,222,50%);

        &.swiper-pagination-bullet-active {
          background: #9A9A9A;
        }
      }
    }

    .swiper-num {
      font-size: rem-calc(24);
      height: rem-calc(104.64);
      line-height: rem-calc(104.64);
      position: absolute;
      top: 0;
      right: 0;
      &.swiper-numCL{
        color: #fff;
      }
    }
  }
}