html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
}
html * {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  font-family: sans-serif;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th {
  text-align: left;
}

fieldset, img {
  border: 0;
}

em, i, strong {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul, ol {
  list-style: none;
}

del {
  text-decoration: line-through;
}

input, button, textarea, select {
  font-size: 100%;
  border: none;
  background: none;
}

a, button, input, select, textarea, a:focus, button:focus, input:focus, select:focus, textarea:focus {
  outline: 0 none;
}

a {
  text-decoration: none;
  color: #666;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

::-webkit-input-placeholder {
  color: #999;
}

::-moz-placeholder {
  color: #999;
}

:-moz-placeholder {
  color: #999;
}

@media only screen and (max-width: 359px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (min-width: 360px) and (max-width: 374px) {
  html {
    font-size: 13.5px;
  }
}
@media only screen and (min-width: 375px) and (max-width: 399px) {
  html {
    font-size: 14.0625px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 479px) {
  html {
    font-size: 15px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 539px) {
  html {
    font-size: 18px;
  }
}
@media only screen and (min-width: 540px) and (max-width: 639px) {
  html {
    font-size: 20.25px;
  }
}
@media only screen and (min-width: 640px) and (max-width: 719px) {
  html {
    font-size: 24px;
  }
}
@media only screen and (min-width: 720px) {
  html {
    font-size: 27px;
  }
}
.Limit_success {
  width: 100%;
  overflow: hidden;
  padding-bottom: 5.33333rem;
}
.Limit_success .topArea {
  width: 100vw;
  text-align: center;
  padding-top: 3.55556rem;
  padding-bottom: 0.35556rem;
}
.Limit_success .topArea i {
  font-size: 3.55556rem;
}
.Limit_success .topArea h2 {
  font-size: 1.42222rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 1.77778rem;
}
.Limit_success .time-box {
  background: #f9f9f9;
  width: 21.33333rem;
  padding: 3.2rem 0;
  text-align: center;
  margin: 0 auto;
  border-radius: 0.35556rem;
}
.Limit_success .time-box p {
  line-height: 2;
  font-size: 1.06667rem;
  color: #666;
}
.Limit_success .time-box p span {
  color: #000;
  font-weight: bold;
  font-size: 1.06667rem;
}
.Limit_success .tips {
  font-size: 0.99556rem;
  margin: 1.42222rem 0;
  line-height: 1.42222rem;
  text-align: center;
}
.Limit_success .emm {
  width: 8.53333rem;
  margin: 0 auto;
  padding: 0.35556rem;
  background: #fff;
}
.Limit_success .emm img {
  width: 8.53333rem;
  outline: none;
}
.Limit_success .tips2 {
  padding: 0 1.42222rem;
  margin-top: 1.42222rem;
  font-size: 0.85333rem;
  line-height: 1.42222rem;
}

/*# sourceMappingURL=style.css.map */
